:root{
    --clr-accent: #d9964a;
    --clr-blue: #0b5089;
    --clr-dark: #2b2b2b;
    --clr-light: #ffffff;
    --clr-border: #f9e9d7;
    --clr-gray: #666666;
    --font-primary: "Mulish", sans-serif;
    --font-secondary: "Playfair Display", serif;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  html {
    font-size: 62.5%;
    height: 100%;
  }
  body {
    color: var(--clr-light);
    font-family: var(--font-primary);
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  
  .container {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 5rem;
  }

  /* HEADER */
  .header{
    background-color: var(--clr-light);
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    z-index: 99999;
  }
  .header .header__wrapper{
    justify-content: space-between;
  }
  .header .header__wrapper h1{
    color: var(--clr-gray);
    font-style: 2rem;
    font-weight: 600;
  }
  /* BANNER */
  .banner{
    background-color: var(--clr-border);
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .banner .banner__wrapper{
    display: flex;
    max-height: 50rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 8rem;
  }
  .banner .banner__right img{
    width: 75rem;
    height: 45rem;
    padding-bottom: 2rem;
  }
  .banner .banner__left{
    padding-right: 8rem;
  }
  .banner .banner__left .banner__heading{
    color: var(--clr-accent);
    letter-spacing: 1rem;
    font-family: var(--font-primary);
    margin-bottom: 2rem;
  }
  .banner .banner__left .banner__title{
    color: var(--clr-gray);
    font-family: var(--font-secondary);
    text-align: left;
    font-size: 4rem;
    margin-bottom: 2rem;
    max-width: 80rem;
  }
  .banner .banner__left .banner__details p{
    color: var(--clr-gray);
    text-align: left;
    margin-bottom: 3rem;
    max-width: 90rem;
  }
  /* RECIPE */
  .recipe{
    background-color: var(--clr-light);
    padding-top: 5rem;
    padding-bottom: 8rem;
  }
  .recipe .recipe__wrapper{
    display: grid;
    grid-template-columns: 210px 210px 210px 210px;
    gap: 2rem;
  }
  .recipe .recipe__wrapper .recipe__card img{
    height: 30rem;
  }
  .recipe .recipe__card .recipe__details h2{
    color: var(--clr-accent);
    font-family: var(--font-primary);
    font-size: 1rem;
    letter-spacing: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
  .recipe .recipe__card .recipe__details h3{
    color: var(--clr-dark);
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 50;
    text-align: center; 
    margin-bottom: .5rem;
  }
  .recipe .recipe__card .recipe__details p{
    color: var(--clr-dark);
    font-family: var(--font-primary);
    font-size: 1rem;
    text-align: justify;
  }
  .recipe .recipe__title h3{
    color: var(--clr-accent);
    font-family: var(--font-secondary);
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .recipe .recipe__title h3::after{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-accent);
    width: 37rem;
    height: .2rem;
    bottom: .5rem;
    left: 1rem;
  }
  .recipe .recipe__title h3::before{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-accent);
    width: 37rem;
    height: .2rem;
    bottom: .5rem;
    right: 1rem;
  }
  /* RECIPE COLLECTIONS */
  .collections {
    padding-top: 4rem;
  }
  .collections .collections__title h3{
    color: var(--clr-accent);
    font-family: var(--font-secondary);
    padding-left: 19rem;
    margin-bottom: 1rem;
  }
  .collections .collections__title h3::after{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-accent);
    width: 75rem;
    height: .2rem;
    bottom: 5px;
    left: 1rem;
  }
  .collections .collections__content {
    max-width: 100rem;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
  }
  .collections .collections__items .collections__right {
    text-align: justify;
  }
  .collections .collections__items .collections__left img{
    width: 40rem;
    height: 30rem;
  }
  .collections .collections__items .collections__right h2 {
    color: var(--clr-accent);
    font-family: var(--clr-primary);
    margin-bottom: 2rem;
    font-size: 1rem;
    letter-spacing: 1rem;
    text-align: left;
  }
  .collections .collections__items .collections__right h3 {
    color: var(--clr-dark);
    font-family: var(--font-secondary);
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: left;
    max-width: 40rem;
  }
  .collections .collections__items .collections__right p {
    color: var(--clr-dark);
    font-family: var(--clr-primary);
    margin-bottom: 3rem;
    font-size: 1rem;
    text-align: justify;
    max-width: 39rem;
  }
  .collections__wrapper:nth-of-type(odd) { 
    background-color: var(--clr-light);
  }
  .collections__wrapper:nth-of-type(even) {
    background-color: var(--clr-light);
  }
  .collections .collections__items{
    display: flex;
    gap: 8rem;
    align-items: center;
    justify-content: center
  }
  .collections__wrapper:nth-of-type(odd) .collections__items {
    flex-direction: row-reverse;
  }
  /* NEWSLETTER */
  .newsletter{
    background-image: linear-gradient(rgba(80, 76, 76, 0.4),
    rgba(80, 76, 76, 0.4)),
     url(https://food.fnr.sndimg.com/content/dam/images/food/fullset/2016/2/26/1/WU1307H_stuffed-peppers_s4x3.jpg.rend.hgtvcom.791.594.suffix/1456516812436.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 140rem;
    height: 40rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    align-items: center;
    text-align: center;
  }
  .newsletter form{
    height: 4rem;
    max-width: 130rem;
  }
  .newsletter form a{
    height: 4rem;
  }
  .newsletter form input{
    background-color: var(--clr-light);
    height: 4rem;
    width: 70rem;
    border: 0px;
    padding-top: .5rem;
  }
  .newsletter .newsletter__title h1{
    font-family: var(--font-secondary);
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
  }
  .newsletter .newsletter__title p{
    font-family: var(--font-primary);
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  /* CLASSIC COLLECTIONS */
  .collectionClassic{
    background-color: var(--clr-light);
    padding-top: 4rem;
  }
  .collectionClassic .collectionClassic__wrapper{
    display: grid;
    grid-template-columns: 290px 290px 290px;
    gap: 2rem;
    justify-content: center;
    padding-right: 2.5rem;
    margin-bottom: 4rem;
  }
  .collectionClassic .collectionClassic__title h3{
    color: var(--clr-accent);
    font-family: var(--font-secondary);
    padding: 2rem;
    padding-left: 19rem;
  }
  .collectionClassic .collectionClassic__title h3::after{
    display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-accent);
    width: 75rem;
    height: .2rem;
    bottom: 5px;
    left: 1rem;
  }
  .collectionClassic .collectionClassic__wrapper .collectionClassic__card{
    color: var(--clr-light);
    display: flex;
    padding-left: 3rem;
  }
  .collectionClassic .collectionClassic__card .collectionClassic__left img{
    width: 7rem;
    height: 10rem;
  }
  .collectionClassic .collectionClassic__card .collectionClassic__right h2{
    color: var(--clr-accent);
    font-family: var(--clr-primary);
    letter-spacing: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: .5rem;
    margin-top: .5rem;
  }
  .collectionClassic .collectionClassic__card .collectionClassic__right h3{
    color: var(--clr-gray);
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    margin-bottom: .5rem; 
  }
  .collectionClassic .collectionClassic__card .collectionClassic__right .collectionClassic__stars a{
    color: var(--clr-accent);
    font-size: 1.2rem;
  }
  .collectionClassic .collectionClassic__card .collectionClassic__right p{
    color: var(--clr-gray);
    font-family: var(--clr-primary);
    font-size: 1.2rem;
    margin-top: .5rem;
  }
  .collectionClassic .collectionClassic__card .collectionClassic__right{
    padding-left: 1rem;
  }
  /* FOOTER */
  .footer{
    background-color: var(--clr-border);
    padding: 2rem 0;
  }
  .footer .footer__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footer__wrapper h1{
    color: var(--clr-gray);
    font-size: 2rem;
    font-weight: 600rem;
    margin-bottom: 1rem;
  }
  .footer .footer__wrapper p{
    margin-bottom: 1rem;
    color: var(--clr-gray);
  }
  /*REPEATABLE PATTERNS*/
.btn{
    background-color: transparent;
    border: transparent;
    padding: 1rem 3rem;
    color: transparent;
    font-weight: 500;
}
.btn.bg--accent{
    background-color: var(--clr-accent);
    color: var(--clr-light);
}